<div class="col-1 @GetHouseClass()">
    <div class="card h-100 bg-transparent border-0">
        <div class="card-header pt-1 pb-0 pl-2 pr-2 text-center bg-transparent border-0">
            <div class="garden">
                @if (House.Pool == PoolType.Built)
                {
                    <div class="bg-primary rounded w-75 h-100 float-right"></div>
                }
                else if (House.Pool == PoolType.Unbuilt)
                {
                    <div class="bg-secondary rounded w-75 h-100 float-right"></div>
                }
            </div>
        </div>
        <div class="card-body w-100 p-2">
            <div class="d-flex h-100 justify-content-center bg-light">
                <div class="align-self-center text-center w-100">
                    @if (!IsSelectedHouse && House.Number.HasValue)
                    {
                        <h3 class="pt-1 mb-0 font-weight-bold bubblegum-font">@House.Number</h3>
                    }
                    else
                    {
                        var possibilities = GetPossibilitiesForBuilding();
                        if (IsSelectedHouse)
                        {
                            <select class="form-control py-0 rounded-0 centered-select" @onchange="OnHouseSelected">
                                <option value="null">Select</option>
                                @foreach (var possibility in possibilities)
                                {
                                    if (possibility.Equals(PlayerSheet.SelectedNumberEffectPair))
                                    {
                                        <option value="@JsonConvert.SerializeObject(possibility)" selected>@possibility.Number</option>
                                    }
                                    else
                                    {
                                        <option value="@JsonConvert.SerializeObject(possibility)">@possibility.Number</option>
                                    }

                                }
                            </select>
                        }
                        else if (!PlayerSheet.SelectedHouseIndex.HasValue && possibilities.Any())
                        {
                            <select class="form-control py-0 rounded-0 centered-select" @onchange="OnHouseSelected">
                                <option value="null" selected>Select</option>
                                @foreach (var possibility in possibilities)
                                {
                                    <option value="@JsonConvert.SerializeObject(possibility)">@possibility.Number</option>
                                }
                            </select>
                        }
                        else
                        {
                            <input type="number" min="0" max="15" class="form-control text-center" disabled />
                        }
                    }

                </div>
            </div>
        </div>
        <div class="card-footer p-0 text-center bg-transparent border-0">
            <img src="/images/house.png" class="house-image" draggable="false" />
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public PlayerSheet PlayerSheet { get; set; }

    [CascadingParameter]
    public Turn CurrentTurn { get; set; }

    [Parameter]
    public Street Street { get; set; }

    [Parameter]
    public House House { get; set; }

    private string GetHouseClass()
    {
        var houseClass = "house";

        if (House.Index == 0)
        {
            houseClass += " house-first";
        }
        if (House.FenceBuilt)
        {
            houseClass += " house-fenced";
        }

        return houseClass;
    }

    private IEnumerable<NumberEffectPair> GetPossibilitiesForBuilding()
    {
        var possibilities = CurrentTurn.GetNumberEffectPairs();
        var builtHouses = Street.Houses.Where(x => x.Number.HasValue && x.Index != House.Index);

        if (!builtHouses.Any())
        {
            return possibilities;
        }
        else
        {
            var nearestHouseLeft = builtHouses.Where(x => x.Index < House.Index).OrderBy(x => x.Index).FirstOrDefault();
            var nearestHouseRight = builtHouses.Where(x => x.Index > House.Index).OrderBy(x => x.Index).FirstOrDefault();

            return possibilities.Where(pair => (nearestHouseLeft == null || pair.Number > nearestHouseLeft.Number.Value) && (nearestHouseRight == null || pair.Number < nearestHouseRight.Number.Value));
        }
    }

    private void OnHouseSelected(ChangeEventArgs e)
    {
        var pair = JsonConvert.DeserializeObject<NumberEffectPair>(e.Value.ToString());
        House.Number = pair?.Number;
        PlayerSheet.SelectedHouseChanged(Street.Position, House.Number.HasValue ? House.Index : new int?(), pair);
    }

    private bool IsSelectedHouse => PlayerSheet.SelectedHouseStreet == Street.Position && PlayerSheet.SelectedHouseIndex == House.Index;
}